@use "../../../shared/styles/colors" as c;
@use "../../../shared/styles/spacings" as s;
@import "../../../shared/styles/mixins";

.Cards {
  padding: s.$medium; // REMOVE LATER
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: s.$medium;
}
